= stylesheet_link_tag 'e-thirty-main-wrapper'
= stylesheet_link_tag 'https://fonts.googleapis.com/icon?family=Material+Icons', media: 'all'
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Montserrat', media: 'all'
= stylesheet_link_tag 'https://cdn.quilljs.com/1.2.3/quill.snow.css', media: 'all'


#e-thirty-container
  .header
    %a.header__logo{href: '/'}
      %span.header__image
  .col-xs-8.col-xs-offset-2.home__feed-container.m-t-40
    = render 'layouts/messages'
    .row
      .col-md-6.col-md-offset-3.col-sm-12
        %h3 Create new article

        = form_for Article.new, html: { class: 'm-t-40' } do |f|
          .form-group
            = f.label :title, 'Title', class: 'control-label'
            = f.text_field :title, class: 'form-control', required: true

          .form-group
            = f.label :subtitle, 'Subtitle', class: 'control-label'
            = f.text_field :subtitle, class: 'form-control', required: true

          .form-group
            = f.label :content, 'Content', class: 'control-label'
            .content-editor
            %input#article_content{type: 'hidden', name:'article[content]'}

          .form-group
            %label.control-label Cover image
            = f.file_field :cover_image

          .form-group
            = check_box 'article', 'published_at', {}, 'true', 'false'
            Publish this article now

          = f.submit 'Create', class: 'btn btn-success btn-block'

= javascript_include_tag 'https://cdn.quilljs.com/1.0.0/quill.js'
= javascript_include_tag 'https://code.jquery.com/jquery-3.2.1.slim.min.js', integrity: 'sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=', crossorigin: 'anonymous'

:javascript
  var articleContentEditor = new Quill('.content-editor', {
    theme: 'snow'
  });

  var copyToInput = function() {
    document.getElementById('article_content').value = articleContentEditor.container.firstChild.innerHTML;
  }

  articleContentEditor.on('text-change', function(delta, source) {
    copyToInput();
  });

  copyToInput();
